.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(156, 148, 148);
  padding: 20px;
  border: none;
  border-radius:6px;
}

.left-header {
  display: flex;
  flex-direction: row;
  flex:0.50;
  justify-content: flex-start;
  align-items: center;
}

.header-logo-container{
  width:90px;
}

.header-logo{
  width:100%;
}

.middle-header {
  display:flex;
  flex:1;
  margin-left:12px;
 
}

.search-box{
  flex:1; 
  border-width:1px;
  border-color:rgb(197, 173, 173); 
  border-style:solid;
  padding-left:12px;
  border-radius:4px 0px 0px 4px;
}

.search-box:focus {
  border:none;
  outline:none;
}
.search-box::placeholder {
  font-size:16px;
  
}

.search-button{
  height:36px;
  width:46px;
  padding:0px 12px;
  background-color:rgb(255, 255, 255);
  border-color:rgb(197, 173, 173);
  border-width:1px;
  border-style:solid;
  border-radius: 0px 4px 4px 0px ;
  margin-left:-1px;
  transition:background-color opacity 0.15s;
}

.search-button:hover{
  background-color: rgb(236, 236, 236);
}

.search-button:active{
  opacity: 0.4;
}


.search-icon{
padding-top:6px;
border:none;
}


.right-header {
  flex:0.30;
  text-align: center;
}

.text-style {
  font-size:18px;
  font-weight: bold;
  color:white;
  margin:0px 15px;
}

