body{
  padding:0px 150px;
  background-color:rgb(33, 37, 41);
  font-family: "Open Sans", sans-serif, Arial;
  font-optical-sizing: auto;
  margin:0px;
}

p{
  margin:0px;
  font-family: "Open Sans", sans-serif, Arial;
  font-optical-sizing: auto;
}


.popular-today-header{
  display:grid;
  grid-template-columns: 1fr 200px;
  padding:8px;
  background-color:white;
  margin-top:5px;
  border-radius:4px;
}


.popular-today-text{
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 30px;
  font-weight:700;
  
  
}

.popular-today-view-all-button-container{
  text-align:right;
  padding-right:55px;
}


.popular-today-view-all-button{
  padding: 13px 22px;
  color:white;
  background-color:rgb(98, 65, 89);
  text-align:center;
  font-size:18px;
  border:none;
  border-radius:12px;
  transition: transform, box-shadow 0.20s;
}

.popular-today-view-all-button:hover {
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.6);
  transform: scale(1.06);
  cursor:pointer;
}

a{
  text-decoration: none;
}

.previous-page-buttons ,.next-page-buttons{
  color:white;
  font-size:16px;
  font-weight:600;
  background-color: rgb(56, 42, 54);
  padding:12px 16px;
  border:none;
  border-radius:26px;
  cursor:pointer;
  transition:opacity box-shadow 0.15s;
}

.previous-page-buttons:hover ,.next-page-buttons:hover{
  opacity:0.9;
  box-shadow:5px 5px 20px rgba(0 ,0 ,0 ,0.55);
}

.previous-page-buttons:active ,.next-page-buttons:active{
  opacity:0.5;
}


.page-buttons{
  text-align:center;
  background-color: white;
  padding:16px 4px;
  border:none;
  border-radius:6px;
  margin-top:4px;
}